#welcome {
    text-align: center;
    margin-top: 10em;
}

#directions {
    text-align: center;
    margin-top: 10em;
}

.bioHead {
    text-align: center;
}

#galleryHeader {
    text-align: center;

}

#bio {
    display: none;
}

#resume {
    display: none;
}

button {
    width: 2em; 
  height: 1em; 
  margin: 0 1em 0 1em;
  
}